body {
    
    text-align:center;
    background-image: url("../assets/bg.jpg");

}


input{
    border-radius: 14px;
    height: 45px;
    width: 80%;
    margin:10px;
    padding: 5px;
    background-color: rgb(203, 240, 228);

}

input[type=text]:focus {
    border: 3px solid #555;
}

#main-div{
    display: flex;
    flex-direction: row;
    padding: 10%;
}

#vehicle-button,#part-button{
    width: 50%;
}

#part-form{
    margin-left: 30%;
}

#add-vehicle, #add-part {
    border: 1px solid black;
    margin-left: 10%;

    width: 150%;
    height: 500px;

    background-color: #263541;
    border-radius: 25px 5px;
    color: whitesmoke;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#add-part{
    border-radius: 5px 25px;

}

.container{
    background-color: rgb(245, 245, 245,.6);

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left:auto; 
    margin-right:auto;
    background-color: white;
}

.styled-table thead tr {
    background-color: aquamarine;
    color: black;
    text-align: left;
}

.styled-table th,.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(78, 156, 131);
}

